*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    padding: 30px;
}
.parent{
    border: 5px solid red;
    width: 600px;
    margin: 0 auto;
    height: 800px;

}

.block1{
    text-align: center;
    background-color: aqua;
    padding: 10px 0;
}
.block2{
    text-align: center;
    background-color: blue;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0px;
}
.block3{
text-align: center;
background-color: rgb(151, 151, 237);
padding: 10px 0;
}