*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.imgdiv{
    background-image: url(images.jfif);
    background-position: right;
    background-size: cover;
    background-repeat: repeat-y;
     }
.box{
    width: 500px;
    height: 900px;
    padding: 5px;
    margin: 20px 15px;
    box-shadow: 2px 2px 30px 5px black;
font-weight: bold;}
    
        

